<h1>Index</h1>

<% @groups.each do |group| %>
    <% if (@user_lat - group.latitude).abs < 0.3 and (@user_lon - group.longitude).abs < 0.3 %>
        <%= group.name %>
        <%= group.category %>
        <br>
    <% end %>
<% end %>

