<h1>Index</h1>

<% @groups.each do |group| %>
    <% if true#if (@user_lat - group.latitude).abs < 0.3 and (@user_lon - group.longitude).abs < 0.3 %>
        <%= group.name %>
        <%= group.category %>
        <%= link_to 'Click here to learn more!', group_path(group) %>
        <br>
    <% end %>
<% end %>

