<h1>Groups Near You</h1>



<div class="posts-wrapper row">
  <% @groups.each do |group| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          <%= group.name %>
        </div>
      </div>
      <p class="caption">
        <%= group.category %>
      </p>
    </div>
  <% end %>
</div>
