<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<h1>
		User Profile
	</h1>
	<h2>
		<%= @user.user_name %>
	</h2>
	<p>
		<i><%= @user.email %></i>
	</p>
	<h3>
		Groups:
	</h3>
		<% @user.all_following.each do |following| %>
			<% if following %>
				<div><%= link_to following.name, group_path(following.id) %></div>
			<% end %>
		<% end %>
	<h3>
		User Bio:
	</h3>
	<p>
		<%= @user.bio %>
	</p>
</body>
</html>