<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<h1>
		User Profile
	</h1>
	<h2>
		<%= @user.user_name %>
	</h2>
	<p>
		<i><%= @user.email %></i>
	</p>
	<h3>
		Groups:
	</h3>
		<% @user.all_following.each do |follow| %>
			<div><%= link_to follow.name, group_path(follow.id) %></div>
		<% end %>
	<h3>
		User Bio:
	</h3>
	<p>
		words words words
	</p>
</body>
</html>